/* -----------------------------------------------------------------------------
 * Settings > Spaces.
 * -------------------------------------------------------------------------- */
:root {
	// Base value.
	--aura-root__space--base: 20px;
	// Type scale.
	--aura-root__space--xxxs: calc(0.25 * var(--aura-root__space--base)); // 5px
	--aura-root__space--xxs: calc(0.5 * var(--aura-root__space--base)); // 10px
	--aura-root__space--xs: calc(0.75 * var(--aura-root__space--base)); // 15px
	--aura-root__space--sm: calc(1 * var(--aura-root__space--base)); // 20px
	--aura-root__space--md: calc(1.25 * var(--aura-root__space--base)); // 25px
	--aura-root__space--lg: calc(2 * var(--aura-root__space--base)); // 40px
	--aura-root__space--xl: calc(3.25 * var(--aura-root__space--base)); // 65px
	--aura-root__space--xxl: calc(5.25 * var(--aura-root__space--base)); // 105px
}
