/* -----------------------------------------------------------------------------
 * Blocks > Post Author Information.
 * -------------------------------------------------------------------------- */
.aura-post-author-info {
	margin-top: 40px;

	@media (min-width: #{get-breakpoint('md')}) {
		display: flex;
	}

	&__sidebar {
		margin-right: 20px;
		width: 120px;

		@media (min-width: #{get-breakpoint('md')}) {
			flex-shrink: 0;
		}
	}

	&__avatar {
		img {
			border-radius: 50%;
		}
	}

	&__title {
		margin-bottom: 10px;
		margin-top: 20px;

		@media (min-width: #{get-breakpoint('md')}) {
			margin-top: 0;
		}
	}
}
