/* -----------------------------------------------------------------------------
 * Blocks > Posts
 * -------------------------------------------------------------------------- */
.aura-posts {
	display: grid;
	grid-gap: 40px;
	grid-template-columns: 100%;

	@media (min-width: #{get-breakpoint(xl)}) {
		grid-gap: 60px;
	}
}
