/* -----------------------------------------------------------------------------
 * Blocks > Table
 * -------------------------------------------------------------------------- */
.aura-table {
	border: 1px solid var(--aura-root__general--border-color);
	border-bottom-width: 0;
	border-right-width: 0;

	tr:nth-child(even) {
		background-color: #f9f9f9;
	}

	td {
		border: 1px solid var(--aura-root__general--border-color);
		border-left-width: 0;
		border-top-width: 0;
		padding: 5px 10px;
	}
}
